<% _.each(comments, function(comment) { %>
    <div class="media comment">
        <a class="pull-left" href="<%= comment.get('user').url %>">
            <img class="media-object" width="80" height="80" src="<%= comment.get('user').avatar_url %>" alt="<%= comment.get('user').login %>" title="<%= comment.get('user').login %>" />
        </a>
        <div class="media-body">
            <small>
                <span><span id="creator"><a href="<%= comment.get('user').url %>"><%= comment.get('user').login %></a></span> commented <span id="created_at"><%= moment(comment.get('created_at')).fromNow() %></span>.</span>
            </small>
            <div>
                <% var converter = new Showdown.converter(); %>
                <%= converter.makeHtml(comment.get('body')) %>
            </div>
        </div>
    </div>
<% }); %>